<div class="header">
  <h1>Categories</h1>
  <p>Manage your categories here.</p>
</div>
<app-card>
  <h1>Categories</h1>
  <button
    mat-raised-button
    color="primary"
    (click)="openDialog()"
    matTooltip="Create a new category"
  >
    Create<mat-icon>add</mat-icon>
  </button>
  <app-card-row *ngFor="let category of categories">
    <label row-title>
      {{ category.name }}
    </label>
    <p row-description>Change the settings for {{ category.name }} here.</p>

    <app-category-form
      [category]="category"
      (updatedCategory)="updateCategory($event)"
      row-content
    ></app-category-form>
  </app-card-row>
</app-card>
