.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 2px solid var(--third-light);
  border-radius: 6px;
  background-color: #00475E;
}

cdk-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
