<div class="server-options">
  <div *ngIf="selectedGuild">
    <div class="server-info">
      <img [src]="guildIcon" />
      <span class="name">{{ selectedGuild.name }}</span>
    </div>
    <div class="links">
      <a class="link" [routerLink]="['/servers']" (click)="removeSelected()">
        Servers
      </a>
      <a
        class="link"
        routerLinkActive="active"
        [routerLink]="['/dashboard/config']"
        queryParamsHandling="merge"
      >
        Config
      </a>
      <a
        class="link"
        routerLinkActive="active"
        [routerLink]="['/dashboard/category']"
        queryParamsHandling="merge"
      >
        Category
      </a>
      <a
        class="link"
        routerLinkActive="active"
        [routerLink]="['/dashboard/role']"
        queryParamsHandling="merge"
        >Role</a
      >
    </div>
  </div>

  <div *ngIf="!selectedGuild">
    <app-info></app-info>
  </div>

  <div class="user-info">
    <a [href]="loginUrl" class="login" *ngIf="!isFresh"> Log In </a>
    <app-user *ngIf="isFresh"></app-user>
  </div>
</div>
