<div class="server-options">
  <div>
    <div *ngIf="!selectedGuild" class="image">
      <a href="https://rolebot.gg" target="_blank">
        <img src="assets/banners/rolebot-banner-white.png" />
      </a>
    </div>
    <div *ngIf="selectedGuild" class="server-info">
      <img [src]="guildIcon" />
      <span class="name">{{ selectedGuild.name }}</span>
    </div>
    <div class="links">
      <a class="link support" [routerLink]="['/servers']"> Servers </a>
      <a
        class="link support"
        href="https://discord.com/invite/9BYN266sC4"
        target="_blank"
      >
        Support
      </a>
      <ng-container *ngIf="selectedGuild">
        <a
          *ngFor="let link of links"
          class="link"
          routerLinkActive="active"
          [routerLink]="[link.url]"
          queryParamsHandling="merge"
        >
          {{ link.name }}
        </a>
      </ng-container>
    </div>
  </div>

  <div class="user-info">
    <a [href]="loginUrl" class="login" *ngIf="!isFresh"> Log In </a>
    <app-user *ngIf="isFresh"></app-user>
  </div>
</div>
