.react-create-inputs {
  display: flex;
  flex-direction: column;

  .react-role {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.emoji-toggle {
  margin-bottom: 10px;
}

.emoji-select-option {
  display: flex;
  justify-content: center;
  gap: 20px;

  img {
    height: 28px;
  }
}
