<app-card>
  <h1>Create a new react role</h1>
  <p>Users will use the emoji you select to obtain the role you pick here.</p>
  <app-card-row [expanded]="true">
    <label row-title>New react role</label>
    <div row-content class="react-create-inputs">
      <div class="react-role">
        <mat-form-field *ngIf="!customEmojiToggle.value" class="emoji-input">
          <mat-label>Emoji</mat-label>
          <input matInput required [formControl]="emoji" />
        </mat-form-field>
        <mat-form-field *ngIf="customEmojiToggle.value">
          <mat-label>Emoji</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Emoji"
            matInput
            [formControl]="emoji"
            [matAutocomplete]="autoEmoji"
          />
          <mat-icon matPrefix>search</mat-icon>
          <mat-autocomplete
            #autoEmoji="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let emoji of filteredEmojis | async"
              [value]="emoji"
            >
              <div class="emoji-select-option">
                <img [src]="discordEmoji(emoji.id)" />
                <span>{{ emoji.name }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Role"
            matInput
            [formControl]="role"
            [matAutocomplete]="auto"
          />
          <mat-icon matPrefix>search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let role of filteredRoles | async"
              [value]="role"
            >
              {{ role.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-slide-toggle
        class="emoji-toggle"
        [color]="'primary'"
        [formControl]="customEmojiToggle"
      >
        Use custom Emoji
      </mat-slide-toggle>
      <div *ngIf="data.categories.length">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Category"
            matInput
            [formControl]="category"
            [matAutocomplete]="autoCategory"
          />
          <mat-icon matPrefix>search</mat-icon>
          <mat-autocomplete
            #autoCategory="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let category of filteredCategories | async"
              [value]="category"
            >
              {{ category.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Write a description!"
          [formControl]="description"
        ></textarea>
      </mat-form-field>
    </div>
  </app-card-row>
  <button
    mat-raised-button
    [disabled]="isPristine || !isValid"
    class="save"
    color="primary"
    type="submit"
    (click)="onSubmit()"
  >
    Save
  </button>
</app-card>
