<div class="header">
  <h1>React Roles</h1>
  <p>Manage your react roles here.</p>
</div>
<app-card>
  <h1>React Roles</h1>
  <button
    mat-raised-button
    color="primary"
    (click)="createReactRole()"
    matTooltip="Create a new category"
  >
    Create react role<mat-icon>add</mat-icon>
  </button>
  <ng-container cdkDropListGroup>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="loadState === LoadState.Loading"
    ></mat-progress-bar>
    <app-card-row *ngFor="let category of data">
      <label row-title>
        {{ category.name }} - ({{ category.reactRoles.length }} react role{{
          category.reactRoles.length > 1 ? "s" : ""
        }})
      </label>
      <div
        class="full-width"
        row-content
        cdkDropList
        [id]="category.name + category.id"
        [cdkDropListData]="category.reactRoles"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngFor="let rr of category.reactRoles" row-content>
          <app-react-role
            class="react-box"
            [reactRole]="rr"
            cdkDrag
          ></app-react-role>
        </ng-container>
        <ng-container
          class="cdk-drop-list-receiving"
          *ngIf="!category.reactRoles.length"
          row-content
        >
          <div class="empty">
            <span>Empty</span>
          </div>
        </ng-container>
      </div>
    </app-card-row>
  </ng-container>
</app-card>
