<div class="card-wrapper">
  <div class="icon">
    <img [src]="iconUrl" />
  </div>
  <div class="guild-info">
    <span class="name">{{ guild.name }}</span>
    <div class="action-buttons">
      <div class="manage">
        <a
          [routerLink]="['/dashboard']"
          [queryParams]="{ guildId: guild.id }"
          queryParamsHandling="merge"
        >
          Manage
        </a>
      </div>
      <div class="invite">
        <a href="https://rolebot.gg/invite" target="_blank">Invite</a>
      </div>
    </div>
  </div>
</div>
