:host {
  display: flex;
  width: 100%;

  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .image {
    margin: auto;
    img {
      margin: auto;
      height: 64px;
    }
  }
}
