<ng-container *ngIf="isMobile">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">RoleBot</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #nav mode="over"> <app-sidenav></app-sidenav></mat-sidenav>
    <mat-sidenav-content style="display: flex">
      <div class="main-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="!isMobile">
  <app-sidenav></app-sidenav>
  <div class="main-wrapper">
    <router-outlet></router-outlet>
  </div>
</ng-container>
