:host {
  border-radius: 6px;
  background-color: var(--rolebot-green);
  border: 3px solid var(--secondary-light);
}

.card-row {
  display: flex;
  flex-direction: column;
}

.card-row-title {
  display: flex;
  padding: 15px;
  color: var(--white);
  align-content: center;
  user-select: none;
  font-size: clamp(18px, 2vw, 22px);
}

.card-row-description {
  padding-left: 15px;
  color: var(--off-white);
  user-select: none;
}

.card-row-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  gap: 5px;
  padding-top: 10px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
}

cdk-accordion-item:hover {
  cursor: pointer;
}

mat-icon {
  margin-left: auto;
}
