.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 5px;
  border-radius: 8px;

  background: linear-gradient(to right, var(--rolebot-red), var(--rolebot-green));
}

img {
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
