.card-row {
  display: flex;
  flex-direction: column;

  padding: 15px;
  border-radius: 4px;
  background-color: var(--third-color);

  border-left: 4px solid var(--rolebot-red);
}

.card-row-title {
  display: flex;
  align-content: center;
  user-select: none;
  font-size: clamp(18px, 2vw, 22px);
}

.card-row-description {
  color: var(--off-white);
  user-select: none;
}
