<div class="wrapper">
  <a class="image" href="https://rolebot.gg" target="_blank">
    <img src="assets/banners/rolebot-banner-white.png" />
  </a>
  <div class="links">
    <a
      class="link"
      routerLinkActive="active"
      href="https://rolebot.gg"
      target="_blank"
      >RoleBot</a
    >
    <a
      class="link"
      routerLinkActive="active"
      [routerLink]="['servers']"
      *ngIf="isFresh"
      >Servers</a
    >
    <a class="link" routerLinkActive="active" routerLink="about">About</a>
    <a class="link" routerLinkActive="active" routerLink="tutorial">Tutorial</a>
  </div>
</div>
