<div class="header">
  <h1>Select a server.</h1>
  <p>Make sure to invite RoleBot!</p>
</div>
<mat-spinner
  class="spinner"
  *ngIf="loadState === LoadState.Loading"
></mat-spinner>
<div class="wrapper" *ngIf="isFresh">
  <app-server-card
    *ngFor="let guild of guilds"
    [guild]="guild"
  ></app-server-card>
</div>
<div *ngIf="loadState === LoadState.Complete && !isFresh" class="empty">
  <span>Make sure to login!</span>
</div>
<div
  *ngIf="loadState === LoadState.Complete && !guilds.length && isFresh"
  class="empty"
>
  <span>Seems you manage no servers!</span>
</div>
<div *ngIf="loadState === LoadState.Error" class="empty">
  <span>We were unable to load your Discord servers.</span>
  <span class="message">{{ errorMessage }}</span>
</div>
