:host {
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
  margin: auto;
}
